.navn
{
    color:red;
    font-size: 60px;
    margin-left: 100px;
    padding: -100px;
}

.container {
    /*Størrelse og plassering på gruppemedlemmer sin informasjon*/
    width: 320px;
    height: 400px;
    perspective: 800px;
    margin-top: 90px;
    float: left;
    padding-left: 30px;
}


